aside {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    height: 15em;
    aspect-ratio: 3 / 2;
    background-color: #333;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation-name: notification;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

@keyframes notification {
0% {
transform: translateX(22.5em);
}  
20% {
transform: translateX(0);
}
80% {
transform: translateX(0);
} 
100% {
transform: translateX(22.5em);
}
}

.center-grid .box-3 {
    grid-column: 3;
    display: grid;
    place-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
.center-grid .box-3:hover {
    animation: color-change 2s infinite linear;
}
@keyframes color-change {
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.center-grid .box-4{
    grid-row: 2;
    grid-column: 1;
    background-color: blue;
    color:black;
    display: grid;
    place-items: center;
    font-size: 3em;
    animation: task-3 4s infinite linear;
}

@keyframes task-3 {
    0% {
        grid-column-start: 1;
        grid-column-end: auto;
    }
    33% {
        grid-column-start: 2;
        grid-column-end: auto;
    }
    67% {
        grid-column-start: 3;
        grid-column-end: auto;
        }
    100% {
        grid-column-start: 1;
        grid-column-end: auto;
        }
}